body {
    --global-font-family: 'Text Me One', sans-serif;
    --global-background-color: Lavender;

    background: url("../img/bg.jpg") fixed;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    --title-font-family: 'Cinzel', serif;
}

h1 {
    text-shadow: 2px 2px 2px;
    text-decoration: dashed underline var(--purple);
}

main h2,
form label {
    display: inline-block;
    background: var(--white);
    border: solid thin;
    border-radius: 20px;
    padding: 10px;
    box-shadow: inset 0 0 10px 2px;
}

figure {
    margin-right: 10px;
    margin-left: 10px;
    max-width: 300px;
}

code,
pre {
    --pre-font-family: 'Share Tech Mono', monospace;
}

[class*="nav"] {
    --navbar-background-color: var(--sapphire);
}

#service p,
#service ul {
    font-weight: bold;
    color: var(--linkedin);
}