{% extends 'layout/layout.twig' %}

{% block subtitle %}Fullstack Developer & Mentor{% endblock %}

{% block description %}Philippe Beck - Fullstack Development & Mentorship in Development - Technologies HTML5, Twig, CSS3, SCSS, JavaScript, Nodejs, PHP, Symfony, SQL, Git, GitHub{% endblock %}

{% block main %}
    <main id="home" class="container-90sm-80md-70lg mar-bot-md">

        <!-- Projects -->
        <section class="card-red anima-tranx">
            <h2>Projects</h2>
            <figure>
                <img src="img/projects/animadio.png" alt="Screenshot of the project Animadio">
            </figure>
            <p>Animadio (2019)</p>
            <a class="btn" href="{{ url('project') }}" title="Projects Access">
                <i class="fas fa-project-diagram" aria-hidden="true"></i>
            </a>
        </section>

        <!-- Pens -->
        <section class="card-green anima-tran">
            <h2>Pens</h2>
            <p>Frontend Pens</p>
            <a class="btn" href="{{ url('pen') }}" title="Pens Access">
                <i class="fab fa-codepen" aria-hidden="true"></i>
            </a>
        </section>

        <!-- Certificates -->
        <section class="card-blue anima-trany">
            <h2>Certificates</h2>
            <figure>
                <img src="img/about/diplome-3wa.jpg" alt="Fullstack Developer Degree">
            </figure>
            <p>Fullstack Web Development</p>
            <a class="btn" href="{{ url('certificate') }}" title="Certificates Access">
                <i class="fas fa-certificate" aria-hidden="true"></i>
            </a>
        </section>
    </main>
{% endblock %}
