{% extends 'layout/layout.twig' %}

{% block title %}Services{% endblock %}

{% block description %}Development & Mentorship - Website Development, Framework Development, Application Development & Mentorship in Development{% endblock %}

{% block main %}

    <main id="service">

        <!-- Development -->
        <article>
            <h2>
                <i class="fas fa-code fa-fw" aria-hidden="true"></i> Development
            </h2>

        </article>

        <!-- Mentorship -->
        <article>
            <h2>
                <i class="fa fa-chalkboard-teacher fa-fw" aria-hidden="true"></i> Mentorship
            </h2>

        </article>
    </main>
{% endblock %}
