{% extends 'layout/layout.twig' %}

{% block title %}Services{% endblock %}

{% block description %}Website, Tool & Application Fullstack Development - Mentorship in Development{% endblock %}

{% block main %}

    <main id="service">

        <!-- Development -->
        <article class="anima-skewy-base">
            <h2 class="color-red-base">
                <i class="fas fa-code fa-fw" aria-hidden="true"></i> Development
            </h2>

            <p>I can realize for you :</p>
            <ul>
                <li>Websites</li>
                <li>Tools</li>
                <li>Applications</li>
            </ul>
        </article>

        <!-- Mentorship -->
        <article class="anima-skew-base">
            <h2 class="color-blue-base">
                <i class="fa fa-chalkboard-teacher fa-fw" aria-hidden="true"></i> Mentorship
            </h2>

            <p>I can help you to :</p>
            <ul>
                <li>learn development languages</li>
                <li>build digital projects</li>
                <li>obtain a degree in development</li>
            </ul>
        </article>
    </main>
{% endblock %}
