{% extends 'layout/layout.twig' %}

{% block title %}Services{% endblock %}

{% block description %}Website, Tool & Application Fullstack Development - Mentorship in Development{% endblock %}

{% block main %}

    <main id="service">

        <!-- Development -->
        <article>
            <h2 class="color-red-base">
                <i class="fas fa-code fa-fw" aria-hidden="true"></i> Development
            </h2>

            <p>What can I realize ?</p>
            <ul>
                <li>Websites</li>
                <li>Tools</li>
                <li>Applications</li>
            </ul>
        </article>

        <!-- Mentorship -->
        <article>
            <h2 class="color-blue-base">
                <i class="fa fa-chalkboard-teacher fa-fw" aria-hidden="true"></i> Mentorship
            </h2>

            <p>How can I help ?</p>
            <ul>
                <li>Teaching development languages</li>
                <li>Managing digital projects</li>
            </ul>
        </article>
    </main>
{% endblock %}
