{% extends 'layout/layout.twig' %}

{% block title %}Services{% endblock %}

{% block description %}Website, Tool & Application Fullstack Development - Mentorship in Development{% endblock %}

{% block main %}

    <main id="service">

        <!-- Development -->
        <article class="anima-skewy-base">
            <h2 class="color-red-base">
                <i class="fas fa-code fa-fw" aria-hidden="true"></i> Development
            </h2>

            <p>I can realize different kind of projects for you :</p>
            <ul>
                <li>Websites</li>
                <li>Tools</li>
                <li>Applications</li>
            </ul>
        </article>

        <!-- Mentorship -->
        <article class="anima-skew-base">
            <h2 class="color-blue-base">
                <i class="fa fa-chalkboard-teacher fa-fw" aria-hidden="true"></i> Mentorship
            </h2>

            <p>If you need someone to :</p>
            <ul>
                <li>help you to learn development languages</li>
                <li>assist you to build digital projects</li>
            </ul>
        </article>
    </main>
{% endblock %}
