<footer class="foot">

    <ul class="foot-main">
        <li>
            <h3>Code</h3>
            <ul class="foot-list">
                <li>
                    <a href="https://github.com/philippebeck" rel="noreferrer noopener" target="_blank">GitHub</a>
                </li>
                <li>
                    <a href="https://codepen.io/philippebeck" rel="noreferrer noopener" target="_blank">CodePen</a>
                </li>
            </ul>
        </li>
        <li>
            <h3>Community</h3>
            <ul class="foot-list">
                <li>
                    <a href="https://twitter.com/philippepjbeck" rel="noreferrer noopener" target="_blank">Twitter</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/philippebeck" rel="noreferrer noopener" target="_blank">LinkedIn</a>
                </li>
            </ul>
        </li>
        <li>
            <h3>Contributions</h3>
            <ul class="foot-list">
                <li>
                    <a href="https://github.com/animadio" rel="noreferrer noopener" target="_blank">Animadio@GitHub</a>
                </li>
                <li>
                    <a href="https://codepen.io/animadio" rel="noreferrer noopener" target="_blank">Animadio@CodePen</a>
                </li>
            </ul>
        </li>
    </ul>


    <ul class="foot-info">
        <li>
            <a class="btn-linkedin" href="https://www.linkedin.com/in/philippebeck" title="LinkedIn">
                <i class="fab fa-linkedin fa-fw fa-lg" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="btn-github" href="https://github.com/philippebeck" title="GitHub">
                <i class="fab fa-github fa-fw fa-lg" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="btn-stack" href="http://stackoverflow.com/story/philippebeck" title="Stack Overflow">
                <i class="fab fa-stack-overflow fa-fw fa-lg" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="btn-black" href="https://codepen.io/philippebeck" title="CodePen">
                <i class="fab fa-codepen fa-fw fa-lg" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="btn-tw" href="https://twitter.com/philippepjbeck" title="Twitter">
                <i class="fab fa-twitter fa-fw fa-lg" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</footer>
