<footer class="foot">

    <ul>
        <li>
            <h3>Code</h3>
            <ul>
                <li>
                    <a href="https://github.com/philippebeck" rel="noreferrer noopener" target="_blank">GitHub</a>
                </li>
                <li>
                    <a href="https://codepen.io/philippebeck" rel="noreferrer noopener" target="_blank">CodePen</a>
                </li>
                <li>
                    <a href="https://github.com/animadio" rel="noreferrer noopener" target="_blank">Animadio@GitHub</a>
                </li>
                <li>
                    <a href="https://codepen.io/animadio" rel="noreferrer noopener" target="_blank">Animadio@CodePen</a>
                </li>
            </ul>
        </li>
        <li>
            <h3>About Me</h3>
            <ul>
                <li>
                    <a href="https://blog.openclassrooms.com/blog/2015/12/08/whos-mooc-philippe-beck-premium-plus" rel="noreferrer noopener" target="_blank">OpenClassrooms</a>
                </li>
                <li>
                    <a href="img/about/3wa-provence.pdf" rel="noreferrer noopener" target="_blank">La Provence</a>
                </li>
                <li>
                    <a href="img/about/battledev.jpg" rel="noreferrer noopener" target="_blank">3wa@BattleDev</a>
                </li>
            </ul>
        </li>
        <li>
            <h3>Community</h3>
            <ul>
                <li>
                    <a href="https://twitter.com/philippepjbeck" rel="noreferrer noopener" target="_blank">Twitter</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/philippebeck" rel="noreferrer noopener" target="_blank">LinkedIn</a>
                </li>
                <li>
                    <a href="https://stackoverflow.com/story/philippebeck" rel="noreferrer noopener" target="_blank">Stack Overflow</a>
                </li>
                <li>
                    <a href="https://twitter.com/animadio" rel="noreferrer noopener" target="_blank">Animadio@Twitter</a>
                </li>
            </ul>
        </li>
    </ul>


    <ul>
        <li>
            <a class="btn-in" href="https://www.linkedin.com/in/philippebeck" title="LinkedIn" rel="noreferrer noopener" target="_blank">
                <i class="fab fa-linkedin fa-fw fa-lg" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="btn-github" href="https://github.com/philippebeck" title="GitHub" rel="noreferrer noopener" target="_blank">
                <i class="fab fa-github fa-fw fa-lg" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="btn-fcc" href="https://www.freecodecamp.org/philippebeck" title="Free Code Camp" rel="noreferrer noopener" target="_blank">
                <i class="fab fa-free-code-camp fa-fw fa-lg" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="btn-fb" href="https://www.paypal.me/philippebeck" title="PayPal" rel="noreferrer noopener" target="_blank">
                <i class="fab fa-paypal fa-fw fa-lg" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="btn-stack" href="http://stackoverflow.com/story/philippebeck" title="Stack Overflow" rel="noreferrer noopener" target="_blank">
                <i class="fab fa-stack-overflow fa-fw fa-lg" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="btn-black" href="https://codepen.io/philippebeck" title="CodePen" rel="noreferrer noopener" target="_blank">
                <i class="fab fa-codepen fa-fw fa-lg" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="btn-tw" href="https://twitter.com/philippepjbeck" title="Twitter" rel="noreferrer noopener" target="_blank">
                <i class="fab fa-twitter fa-fw fa-lg" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</footer>
