<footer class="foot">
    <ul>
        <li>
            <h3>Packages</h3>
            <ul>
                <li>
                    <a href="https://www.npmjs.com/package/animadio" rel="noreferrer noopener" target="_blank">Animadio CSS</a>
                </li>
                <li>
                    <a href="https://www.npmjs.com/package/animadio.js" rel="noreferrer noopener" target="_blank">Animadio JS</a>
                </li>
                <li>
                    <a href="https://packagist.org/packages/philippebeck/pam" rel="noreferrer noopener" target="_blank">Pam</a>
                </li>
            </ul>
        </li>
        <li>
            <h3>Websites</h3>
            <ul>
                <li>
                    <a href="https://animadio.org" rel="noreferrer noopener" target="_blank">Animadio CSS</a>
                </li>
                <li>
                    <a href="https://doc.animadio.org" rel="noreferrer noopener" target="_blank">Animadio Doc</a>
                </li>
                <li>
                    <a href="https://celestial-atlas.philippebeck.net" rel="noreferrer noopener" target="_blank">Celestial Atlas</a>
                </li>
                <li>
                    <a href="https://celestial-picture.philippebeck.net" rel="noreferrer noopener" target="_blank">Celestial Picture</a>
                </li>
                <li>
                    <a href="https://philippebeck.net" rel="noreferrer noopener" target="_blank">Portfolio</a>
                </li>
                <li>
                    <a href="https://webagency.philippebeck.net" rel="noreferrer noopener" target="_blank">WebAgency</a>
                </li>
            </ul>
        </li>
        <li>
            <h3>Organization</h3>
            <ul>
                <li>
                    <a href="https://codepen.io/animadio" rel="noreferrer noopener" target="_blank">CodePen</a>
                </li>
                <li>
                    <a href="https://github.com/animadio" rel="noreferrer noopener" target="_blank">GitHub</a>
                </li>
                <li>
                    <a href="https://twitter.com/animadio" rel="noreferrer noopener" target="_blank">Twitter</a>
                </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            <a class="btn-in" href="https://www.linkedin.com/in/philippebeck" title="LinkedIn" rel="noreferrer noopener" target="_blank">
                <i class="fab fa-linkedin fa-fw fa-lg" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="btn-gh" href="https://github.com/philippebeck" title="GitHub" rel="noreferrer noopener" target="_blank">
                <i class="fab fa-github fa-fw fa-lg" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="btn-pp" href="https://www.paypal.me/philippebeck" title="PayPal" rel="noreferrer noopener" target="_blank">
                <i class="fab fa-paypal fa-fw fa-lg" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="btn-black" href="https://codepen.io/philippebeck" title="CodePen" rel="noreferrer noopener" target="_blank">
                <i class="fab fa-codepen fa-fw fa-lg" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="btn-tw" href="https://twitter.com/philippepjbeck" title="Twitter" rel="noreferrer noopener" target="_blank">
                <i class="fab fa-twitter fa-fw fa-lg" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</footer>
